.searchbar {
  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.6rem;
  }

  &__input {
    padding: 1rem 49.5rem 1rem 1.7rem;
    border-radius: $input-border-radius;
    border: $input-border solid $input-default-border-color;
    background-color: $input-default-bg-color;
    color: $input-default-text-color;
    font-family: $primary-font;
    font-weight: $primary-weight;
    font-size: $font-big;

    @include mq(tablet, max) {
      padding: 1rem 14rem 1rem 1.7rem;
    }

    @include mq(mobile, max) {
      width: 90vw;
    }

    &::placeholder {
      color: $input-default-placeholder-color;
    }

    &--hover {
      transition: $transition;
      &:hover {
        border-color: $input-hover-border-color;
        background-color: $input-hover-bg-color;

        &::placeholder {
          color: #646464;
          transition: $transition;
        }
      }
    }

    &:focus-visible {
      outline: none;
    }

    &--danger {
      border-color: $input-error-border-color;
      background-color: $input-error-bg-color;
      &::placeholder {
        color: $input-error-text-color;
      }
    }
  }

  &__button {
    padding: 0.9rem 4rem;
    font-size: $font-big;
    background-color: $default-button-bg-color;
    color: $default-button-text-color;
    border-radius: $button-border-radius;
    border: transparent;
    cursor: pointer;
    &:hover {
      background-color: $hover-button-bg-color;
    }
  }

  /* Sample Results */

  &__samples {
    position: relative;
    max-width: 90vw;
    margin-top: 1.8rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid $border-primary-color;
    border-radius: 4px;
    z-index: 5;
    background-color: white;

    @media screen and (min-width: 920px) {
      width: 720px;
      display: inline-block;
    }
  }

  &__list {
    overflow-y: auto;
    max-height: 300px;
    @media screen and (min-width: 1140px) {
      padding: 1.3rem 3rem 3.6rem;
      max-height: 300px;
    }
  }

  &__listitem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(black, black) 0 calc(100% - 10px) / 100% 2px
        no-repeat,
      white;
    cursor: pointer;
    padding: 2rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    &--hover {
      &:hover {
        background-color: #c4c4c4;
        border-radius: 4px;

        .searchbar__date-and-name-text {
          color: #ffffff;
        }
      }
    }
  }

  &__date-and-name {
    margin: 0.5rem 0 0.25rem 0;
    &-text {
      color: $samples-name-color;
      font-size: $font-small;
    }
  }

  &__location-text {
    font-size: $font-big;
    color: $samples-location-color;
  }

  &__email {
    margin-right: 5rem;
    text-align: left;
    &-text {
      font-size: $font-med;
      color: $samples-email-color;
    }
  }

  &__show-button {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    span {
      color: $showmore-button-color;
      font-size: $font-small;
    }
  }
}
