.homepage {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.4rem;

  &__logo {
    max-width: 300px;
    svg {
      width: 100%;
    }
    &::after {
      content: "Search web app";
      display: block;
      text-align: right;
      margin-right: -3.5rem;
      margin-top: 1rem;
      font-size: $font-med;
      color: $input-default-text-color;

      @include mq(mobile, max) {
        margin-right: 0;
      }
    }
  }
}
